<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541225170834-h1m35m8f9nnmbudbh334pl712od2khs5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541225170834-h1m35m8f9nnmbudbh334pl712od2khs5</string>
	<key>API_KEY</key>
	<string>AIzaSyDf_UbBD4Yr5rSjAAt1aXLgN8BWaz_bZxs</string>
	<key>GCM_SENDER_ID</key>
	<string>541225170834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thisisfinal</string>
	<key>PROJECT_ID</key>
	<string>final128</string>
	<key>STORAGE_BUCKET</key>
	<string>final128.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541225170834:ios:298677e8bed3b05ec6f34b</string>
</dict>
</plist>